<!-- simulator/templates/simulator/info.html -->
{% extends "simulator/base.html" %}

{% block content %}
    <div class="container">
        <h1>Why Should You Care About Herd Immunity?</h1>
        <h3>Check out the resources below to learn more!</h3>

        <ol>
            <li>
                <!-- display a cool informational videos and links -->
                <p>Vox video featuring Bill Gates, 2015:</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9AEMKudv5p0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
            <li>
                <p>
                    <a href="https://www.theatlantic.com/science/archive/2018/04/what-bill-gates-fears-most/559007/">
                        Ed Yong and Bill Gates Explain Microbes, 2018
                    </a>
                </p>
            </li>
            <li>
                <p>Video Explanation of Herd Immunity by the Oxford VaccineGroup, 2018</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8BUCi5Tuzms" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
            <li>
                <p>
                    <a href="https://www.theguardian.com/news/datablog/ng-interactive/2014/oct/15/visualised-how-ebola-compares-to-other-infectious-diseases">
                        Article on Infectious Diseases by David McCandless, 2014
                    </a>
                </p>
            </li>
        </ol>
    </div>

{% endblock %}
