{% extends "base.html" %}

<!-- index.html -->
<!-- user sees a form for inputting disease data -->

{% block content %}

<div class="row">
    <div class="col-md-6">
        <!-- display form -->
        <h1>Herd Immunity Simulation</h1>

        <h3>Please fill out the form below.</h3>

        <p>
            <i>
                Is our population ready for the outbreak?
            </i>
        </p>

        <form class="form-group" action="/" method="POST">
            Population size?<input name="pop_size" type="text" class="form-group-control"><br>
            Percentage vaccinated?<input name="vacc_percentage" type="text" class="form-group-control"><br>
            Name of virus?<input name="virus_name" type="text" class="form-group-control"><br>
            Mortality rate?<input name="mortality_rate" type="text" class="form-group-control"><br>
            Reproduction rate (of the virus?)<input name="repro_rate" type="text" class="form-group-control"><br><br>
            <input type="submit" class="btn btn-primary" value="See it Play Out!">
        </form>
    </div>

    <div class="col-md-6">
        <!-- display cool graphic image -->
    </div>
</div>

{% endblock %}
