{% extends "base.html" %}

{% block content %}

    <h1>Why Should You Care About Vaccines?</h1>
    <h3>Check out the resources below to learn more!</h3>

    <ol>
        <li>
            <!-- display a cool informational video -->
            <p>Vox video featuring Bill Gates, 2015:</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9AEMKudv5p0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </li>
    </ol>


{% endblock %}
