<!-- simulator/templates/partials/pie-chart.html -->
<script>
    $(document).ready(function(){
        // get the data on the TimeStep from the API, using AJAX
        let endpoint = '/api/{{experiment.id}}/chart/data/'
        let plotData = []
        let plotLabels = [];
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data){
                plotLabels = data.labels
                plotData = data.pop_sizes
                barChart()
            },
            error: function(error_data){
                console.log(error_data)
            }
        })
        // make bar chart
        function barChart() {
            let ctx = document.getElementById('barChart').getContext('2d');
            let barChart = new Chart(ctx, {
            type: "bar",
            data: {
                datasets: [{
                    label: '# of People',
                    data: plotData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                    ],
                    borderWidth: 1
                }],
                labels: plotLabels
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });
        }
    })
</script>
