// bar chart of alive people
    var ctx = document.getElementById('barChart{{loop.index}}').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Dead",
                 "Alive - Vaccinated",
                 "Alive - Uninfected",
                 "Alive - No Interaction"
            ],
        datasets: [{
            label: '# of People',
            data: [
                {{time_step.total_vaccinated}},
                {{time_step.total_infected}},
                {{time_step.dead}},
                {{time_step.uninteracted}}
            ],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
        ],
        borderWidth: 1
    }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
